/* Resetting CSS */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

:root{
    --window-size: min(50svh, 50svw);
    --button-margin: 1%;
}

/* ----------- */

.container{
    position: fixed;
    top: calc(50% - var(--window-size)/2);
    left: calc(50% - var(--window-size)/2);
    border: 1px solid black;
    width: var(--window-size);
    height: var(--window-size);

    display:flex;
    flex-direction: column;
    justify-content: center;
}

.display, .small-buttons, .wide-buttons {
    margin: calc(0.5*var(--button-margin)) var(--button-margin);
}

.display{
    flex: 2;
    background-color: #e8e8e8;
    margin:calc( 2*var(--button-margin));

    height: calc(var(--window-size)*2/7);
    border: 1px solid black;
    font: calc(var(--window-size)*1/7) sans-serif;

    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding: calc(2*var(--button-margin));
}

button{
    font: calc(var(--window-size)*0.5/7) sans-serif;
}

.wide-buttons{
    flex: 1;
    display: flex;
}

.small-buttons{
    flex: 4;

    display: flex;
    flex-wrap: wrap;
}

.small-buttons > button{
    margin: var(--button-margin);
    width: calc(25% - 2*var(--button-margin));
}

.wide-buttons > button{
    margin: var(--button-margin);
    width: calc(50% - 2*var(--button-margin));
}